.main-container {

    height: 100vh;
    margin: 0 8%;
}

#background-img {
    height: 100vh;
    /* background-color: #c6945e; */
    /* background-image: url("../images/houses041.jpg"); */
    /* background-image: url("../images/hero02.jpg"); */

    background-repeat: no-repeat;
    background-size: cover;
}


.hideScrollbar::-webkit-scrollbar {
    width: 0 !important
}

.hideScrollbar {
    overflow: -moz-scrollbars-none;
}


.side-bar-container {}

.content-container {
    height: 100vh;
    background-color: #ffffff;
    overflow: auto;
    scroll-behavior: smooth;


}


#bar-section {
    position: fixed;
    /* width: 100%; */
}

/* ================== Typing =================== */


/* ================== Typing end=================== */


/* ================== Nav Bar =================== */


a.nav-link-sytle.active {
    background-color: #652424;
}

.nav-bar-style {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav-bar-style li a:hover {
    background-color: #555;
    color: white;
}

/* ================== Nav Bar  =================== */


/* ================== Me-Video Section =================== */



#myVideo {
    /* position: fixed;
    right: 0;
    bottom: 0; */
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-color: #000000;

}

/* ================== Me-Video Section end =================== */



/* ================== Skill Section =================== */
.skill-set-button {}

.skill_section {
    padding: 10px 0 30px 0;
}

.skill_container {
    text-align: center;
    padding: 10px 0;
    min-height: 150px;
}

.skill_container p {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    font-weight: 300;
    font-size: 18px;
}

.skill_container img {
    max-width: 80px;
    padding: 10px;
    margin: auto;
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.skill_container img:hover {
    -webkit-animation: view-icon 0.5s;
    /* Chrome, Safari, Opera */
    animation: view-icon 0.5s;
    animation-fill-mode: forwards;

}

/* Chrome, Safari, Opera */

@-webkit-keyframes view-icon {
    100% {
        -webkit-filter: none;
        filter: none;
    }

}

/* Standard syntax */

@keyframes view-icon {
    100% {
        -webkit-filter: none;
        filter: none;

    }
}

/* ================== Skill Section end=================== */

#top-section {
    height: 10vh;
}

#name-title,
#name-subtitle {
    color: #ffffff;
}

#name-title {}

#name-subtitle {}

/* ================== Right Side Content Parts ================== */

#hero-section {
    background-color: #000000;
    background-image: url("../images/hero-big.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section,
#projects-section,
#skills-section,
#experience-section {
    min-height: 100vh;
    height: auto;
}

#projects-section,
#skills-section,
#experience-section {
    padding: 20px;
}

#hero-text {
    /* background: rgba(114, 114, 114, 0.5); */
    color: #ffffff;
    width: 100%;
    max-height: 70px;
    height: 15%;
    /* padding: 5px; */

    position: absolute;
    text-align: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 25px;
}




#projects-section {}

#skills-section {
    color: #ffffff;
    background-color: rgb(72, 121, 156)
}

#experience-section {}

#contact-section i {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding-left: 20px;

}

.project-content {
    margin: 15px 5px;
}

/* ================== Right Side Content Parts end ================== */


/* ================== Card Style =============================== */

.card-style {
    display: inline-block;
    margin: 20px auto;
    max-width: 450px;
    background-color: rgba(96, 143, 152, 0.63);
    color: #ffffff;
}


.card-skill-icon {
    text-align: center;
    padding: 10px 0;
}

.card-skill-icon img {
    max-width: 40px;
    padding: 5px;
    margin: auto;
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

/* ================== Card Style end =============================== */

div#contect-section {
    padding: 0;
}

ul.navbar.fixed-bottom.bg-dark {
    margin: 0;
    list-style-type: none;
}

/* ================== experience section  =============================== */

.experience-sub-section {
    padding: 30px 0;
}

.experience-image {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* ================== experience section end =============================== */