.main-container {

    height: 100vh;
    margin: 0 8%;
}

#background-img {
    height: 300px;
    background-color: #c6945e;
    /* background-image: url("../images/heroSection.jpg"); */
    /* background-image: url("../images/hero02.jpg"); */

    background-repeat: no-repeat;
    background-size: cover;

}



#content-main-container {

    padding: 30px 0 0 0;
}

.side-bar-container {}

.content-container {
    height: 80vh;
    background-color: #ffffff;
    overflow: auto;
    scroll-behavior: smooth;


}


.scrollspy-example {}

#bar-section {
    position: fixed;
    /* width: 100%; */
}

/* ================== Skill Section =================== */

.skill_section {
    padding: 10px 0 30px 0;
}

.skill_container {
    text-align: center;
    padding: 10px 0;
    min-height: 150px;
}

.skill_container p {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    font-weight: 300;
    font-size: 18px;
}

.skill_container img {
    max-width: 90px;
    padding: 10px;
    margin: auto;
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.skill_container img:hover {
    -webkit-animation: mymove 1s;
    /* Chrome, Safari, Opera */
    animation: mymove 0.7s;
    animation-fill-mode: forwards;

}

/* Chrome, Safari, Opera */

@-webkit-keyframes mymove {
    100% {
        -webkit-filter: none;
        filter: none;
    }
}

/* Standard syntax */

@keyframes mymove {
    100% {
        -webkit-filter: none;
        filter: none;
    }
}

/* ================== Skill Section end=================== */

#name-title,
#name-subtitle {
    color: #ffffff;
}

#name-title {}

#name-subtitle {}

/* ================== Right Side Content Parts ================== */
#hero-section,
#projects-section,
#skills-section,
#experience-section {
    min-height: 100vh;
    height: auto;
}

#hero-section {
    position: relative;

    background-image: url("../images/me-section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section div {


    font-size: 20px;
    /* color: #9d0000; */
    width: 80%;
    height: 10%;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /* background: #f60; */



}

#projects-section {}

#skills-section {}

#experience-section {}

#contact-section i {
    color: #ffffff;
    font-size: 30px;
}




/* ================== Right Side Content Parts end ================== */

.hideScrollbar::-webkit-scrollbar {
    width: 0 !important
}

.hideScrollbar {
    overflow: -moz-scrollbars-none;
}