 .main-container {

     height: 100vh;
     margin: 0 8%;
 }

 #hero-section {
     height: 300px;
     background-color: #ffa43c;
     background-image: url("../images/heroSection.jpg");
     background-repeat: no-repeat;
     background-size: cover;

 }

 #content-main-container {

     padding: 100px 0 0 0;
 }

 .side-bar-container {}

 .content-container {
     height: 500px;
     background-color: rgba(124, 136, 133, 0.411);
     overflow: auto;

 }


 .scrollspy-example {}

 #bar-section {
     position: fixed;
     /* width: 100%; */
 }

 .word-wrap-break {
     word-wrap: break-all;
     color: #ffffff;

 }



 #name-title {
     color: #ffffff;
 }

 #name-subtitle {
     color: #ffffff;
 }

 /* Right Side Content Parts */

 #projects-section {
     height: 100vh;
 }

 #skills-section {
     height: 100vh;
 }

 #experience-section {
     height: 100vh;
 }

 #more-section {
     height: 100vh;
 }

 #contact-section {
     height: 100vh;
 }

 /* Right Side Content Parts -- end*/